build
**/bin
**/obj
.DS_Store
hardware/**/**/export
hardware/**/**/*.*-bak
hardware/**/**/*-cache.lib
hardware/**/**/*-rescue.dcm
hardware/**/**/*-rescue.lib
hardware/**/**/*.net
hardware/**/**/fp-info-cache
hardware/**/**/sym-lib-table
hardware/**/**/*.kicad_sch.lck
hardware/**/**/*.kicad_prl
hardware/**/**/fp-info-cache
Kicad/**/**/*.bak